.brand-logo {display:block; background-image:url(logo.png); background-repeat:no-repeat; width:250px; height:20px; margin-bottom:5px;  }		
.container.contract { margin:60px auto; }

.container.contract .shadow {   box-shadow: 0px 0px 30px rgba(0,0,0,0.3); }             
.container.contract .shadow:first-child { border-top-left-radius:5px; border-top-right-radius:5px; padding-bottom:100px; }
.container.contract .shadow:last-child { border-bottom-left-radius:5px;  border-bottom-right-radius:5px; }

.gradientbackground { background: linear-gradient(180deg, #303f9f 1%,#1a237e 85%,#303f9f 100%); }
.gradient1 { background: linear-gradient(135deg, #3949ab 1%,#283593 100%); }
.voffset {margin-top:-60px;}
        
.infolabelline {width: 50%; height: 11px; border-bottom: 1px solid #e8eaf6; text-align: center; margin:20px auto;}
.infolabel { font-style:italic; background-color: #fff; padding: 0px 5px; }
.infolabeldark { font-style:italic; margin-bottom:5px;}
.infoaddressfield {user-select: all;}
.chip.user {font-size:18px}
.chip.user span {user-select: all;}
.dividerdark {height:1px; margin:20px 0 0 0;}
.row.dark {margin-top:30px;}
.row.dark:first-child {margin-top:80px;}
		
.lastblock { margin-right:1px; float:right; }
.lastblock i{ font-size:9px; }
		
#lastblocks div.lastblock:nth-child(1){opacity:1;}
#lastblocks div.lastblock:nth-child(2){opacity:0.80;}
#lastblocks div.lastblock:nth-child(3){opacity:0.60;}
#lastblocks div.lastblock:nth-child(4){opacity:0.40;}
#lastblocks div.lastblock:nth-child(5){opacity:0.20;}
#lastblocks div.lastblock:nth-child(n+6){ display:none;}
		
.blockprogress {width:20%; float:right;}
		
.card.article .articlehash { margin:0 auto; width:70%; text-align:center; border: 1px solid #e8eaf6; border-radius:20px; padding:3px 10px; margin-top:-15px; font-size:13px; font-style:italic;}
.card.article .articlehash span { user-select: all; font-style:normal;}
.card.article { background-color:transparent; border: 1px solid rgba(160,160,160,0.2); box-shadow:none; border-radius:3px; margin-top:60px; margin-bottom:40px;}
.card.article .card-action .row {margin-bottom:0px;}
a {
color: #1a237e; 
}

ul.somelist li {
    list-style-type: disc;
    list-style-position: inside;
}


/*admin page*/
.admingradientbackground { background: linear-gradient(180deg,#37474f 1%,#263238 85%,#37474f 100%); }
.admingradient1 { background: linear-gradient(135deg, #e53935 1%,#c62828  100%); }

.card.article .newarticlehash { margin:0 auto; width:30%; text-align:center; border: 1px solid #e8eaf6; border-radius:20px; padding:3px 10px; margin-top:-15px; font-size:13px; font-style:italic;}
.card.article .newarticlehash span { user-select: all; font-style:normal;}

.admin .card.article .articlehash { margin:0 auto; width:95%; text-align:center; border: 1px solid #e8eaf6; border-radius:20px; padding:3px 10px; margin-top:-15px; font-size:13px; font-style:italic;}
.admin .card.article .articlehash span { user-select: all; font-style:normal;}

.newarticleinputsection .row,
.newarticleinputsection textarea { margin-bottom:0px;}
input.balanceinput {    width: 40px !important;
    margin: 0 !important;
    height: 1rem !important; 
	}
input.dummyaddressinput { 
    margin: 0 !important;
    height: 1rem !important; 
	}
	
	
.roundcornerleftbottom { border-bottom-left-radius:5px;}

.setbalanceicon { font-size:16px; margin-left:5px; cursor:pointer;}

.secondary-content {
    color: inherit;
}

.admin a {
    color: #B71C1C;
}